  @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
      }
      .animate-marquee {
        display: flex;
        width: max-content;
        animation: marquee 40s linear infinite;
      }
      .animate-marquee:hover {
        animation-play-state: paused;
      }

        /* Custom scrollbar for webkit */
      ::-webkit-scrollbar {
        width: 8px;
      }
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background: #cbd5e1;
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #94a3b8;
      }


      @keyframes fadeDown {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-down {
  animation: fadeDown 0.5s ease forwards;
}


@keyframes scrollUp {
  0% { transform: translateY(100%); }    /* start below container */
  100% { transform: translateY(-100%); } /* move to above container */
}

.animate-scroll {
  display: flex;
  flex-direction: column;
  animation: scrollUp 15s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}
